<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulario Libro</title>
  </head>
  <body>
    <div class="container form-container mt-5">
      <h1 th:text="${libro.id != null} ? 'Editar Libro' : 'Nuevo Libro'"></h1>

      <form th:action="@{/libros}" th:object="${libro}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
          <label for="titulo" class="form-label">Título:</label>
          <input
            type="text"
            th:field="*{titulo}"
            id="titulo"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="unidades" class="form-label">Unidades:</label>
          <input
            type="number"
            th:field="*{unidades}"
            id="unidades"
            class="form-control"
            required
            min="1"
          />
        </div>

        <div class="mb-3">
          <label for="autores" class="form-label">Autores:</label>
          <select
            th:field="*{autores}"
            id="autores"
            class="form-select"
            multiple
            size="5"
          >
            <option
              th:each="autor : ${autores}"
              th:value="${autor}"
              th:text="${autor.nombre + ' (' + autor.pais + ')'}"
            ></option>
          </select>
        </div>

        <div class="mb-3">
          <label for="categoria" class="form-label">Categoría:</label>
          <select th:field="*{categoria}" id="categoria" class="form-select">
            <option
              th:each="categoria : ${categorias}"
              th:value="${categoria}"
              th:text="${categoria.nombre}"
            ></option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
      </form>

      <a th:href="@{/libros}" class="btn btn-link mt-3">Volver a la lista</a>
    </div>
  </body>
</html>
