<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lista de Libros</title>
  </head>
  <body>
    <h1>Catálogo de Libros</h1>
    <a th:href="@{/Libros/nuevo}">Nuevo Libro</a>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Unidades</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="libro : ${libros}">
          <td th:text="${libro.id}">1</td>
          <td th:text="${libro.titulo}">Título</td>
          <td th:text="${libro.unidades}">10</td>
          <td>
            <a th:href="@{'/libros/editar/' + ${libro.id}}">Editar</a>
            <a
              th:href="@{'/libros/eliminar/' + ${libro.id}}"
              onclick="return confirm('¿Eliminar?')"
              >Eliminar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
